.margins {
  margin: 5px;
  width: 100%;
}

.inputs {
  height: 60px;
  max-width: 300px;
}

.full {
  width: 100vh;
  height: 100vh;
}

.timebuttons {
  height: 50px;
  color: white
}

.linechart {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.barchart {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.panels {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 85vh;
}

.panel {
  color: blue;
  border: solid grey 1px; 
  justify-content: stretch;
  display: flex;
  width: 100%;
  flex: 1;
}

.panel > * {
  margin: 0;
  width: 100%;
  display: flex;
}