.margins {
  margin: 5px;
  width: 100%;
}

/* .inputs {
  height: 60px;
  max-width: 300px;
}

.full {
  width: 100vh;
  height: 100vh;
} */

.timebuttons {
  height: 50px;
  color: white
}

.linechart {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.barchart {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.panels {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 85vh;
}

.panel {
  color: blue;
  border: solid grey 1px; 
  justify-content: stretch;
  display: flex;
  width: 100%;
  flex: 1;
}

.panel > * {
  margin: 0;
  width: 100%;
  display: flex;
}

.full {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

.inputs {
  width: 80%;
  height: 5%;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  flex-direction: column;
  height: 100%;
}

.flex-container > div {
  background-color: white;
  width: 100%;
  text-align: center;
}

/* for inputs */
.flex-item0 { 
  flex-grow:auto;
}

/* for volume chart */
.flex-item1 {
  flex-grow:.5;
  border: 1px solid rgba(0,0,0,.2);
}

/* for secondary charts */
.flex-item2 {
  flex-grow:1;
  border: 1px solid rgba(0,0,0,.2);
}

/* for main chart */
.flex-item3 {
  flex-grow:3;
}